/* ======================
  Links 
*/



.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header {
  background: black;
  width: 100%;
  height: 120px;
}

#logo {
  font: 60px "Avenir Next", Arial, sans-serif;
  letter-spacing: 10px;
  color: white;
  padding-left: 5%;
}

#name {
  font: 30px "Avenir Next", Arial, sans-serif;
  letter-spacing: 10px;
  color: white;
}

.space {
  height: 30px;
}

.navbar-expand-lg .navbar-collapse {
  font: 20px  "Avenir Next", Arial, sans-serif;
  justify-content: center;
}

.hero-img {
  height: 500px;
  background: black;
  color: white;
  font: 40px "Avenir Next", Arial, sans-serif;
}

nav {
  height: 50px;
  background: white
}

.sidebar {
  font: 20px  "Avenir Next", Arial, sans-serif;
  color: white;
  background:black;
  height: 450px;
}

#red {
  background: red;
}

footer {
  font: 20px  "Avenir Next", Arial, sans-serif;
  color: white;
  background: black;
  height: 50px;
}

#shift {
  margin-top: -50px;
}