/* Links */
.primary-header a,
.primary-footer a {
  color: #fff;
}

a:hover {
  color: red;
  text-decoration: none;
}

/* global styles  */
.space {
  height: 30px;
}

.red {
  background: red;
}

.words {
  font-family: "Baskervill", serif;
  padding: 5%;
}

.small {
  font: 20px "Baskervill", serif;
}

footer {
  font: 20px  "Avenir Next", Arial, sans-serif;
  color: white;
  background: black;
  height: 50px;
}

/* header */ 
.primary-header {
  background: black;
  width: 100%;
  height: 120px;
}

nav {
  height: 50px;
  background: white
}

#logo {
  font: 60px "Avenir Next", Arial, sans-serif;
  letter-spacing: 10px;
  padding-left: 5%;
}

#name {
  font: 30px "Avenir Next", Arial, sans-serif;
  letter-spacing: 10px;
  color: white;
}

.navbar-expand-lg .navbar-collapse {
  font: 20px  "Avenir Next", Arial, sans-serif;
  justify-content: center;
}

/* home page  */
#hero-img {
  height: 450px;
  background-image: url("../images/hero_img_full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  color: white;
  font: 40px "Avenir Next", Arial, sans-serif;
}

/* about page */
#hero-img-lake {
  height: 450px;
  background-image: url("../images/lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  color: white;
  font: 40px "Avenir Next", Arial, sans-serif;
  background-attachment: fixed;
}



.sidebar {
  font: 20px  "Avenir Next", Arial, sans-serif;
  color: white;
  background:black;
  height: 450px;
  padding: 5%;
}

.space-extra {
  padding-top: 100px;
}

.navbar-collapse.collapse{
  display: inline !important;
}

.navbar-nav>li {
  float: left !important;
  padding-right: 2%;
}

.navbar-nav{
  display: inline !important;
}


#hobbies {
  background: black;
  color: white;
  padding: 15px 0px 5px 30px;
  font: 20px  "Avenir Next", Arial, sans-serif
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction    : column;
  -ms-flex-direction          : column;
  flex-direction                : column;
  -webkit-justify-content   : center; 
  justify-content               : center; 

  position: absolute;
  top: 0; bottom: 0; left: 30px; right: 30px;
}


/* media queries */

@media only screen and (max-width: 480px) {

  .content {
      position: relative;
      top: 0; bottom: 0; left: 0; right: 0;
      padding: 30px;
  }

  #hero-img {
    height: 300;
    font: 20px "Avenir Next", Arial, sans-serif;
  }

  .sidebar {
    font: 20px  "Avenir Next", Arial, sans-serif;
    color: white;
    background:black;
    height: 300px;
    padding: 10%;
  }

  #hero-img-lake {
    height: 450px;
    background-image: url("../images/lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    color: white;
    font: 30px "Avenir Next", Arial, sans-serif;
    background-attachment: fixed;
  }

  #logo {
    font: 40px "Avenir Next", Arial, sans-serif;
  }

  .nav-link {
    font-size: 15px !important;
  }

}

@media only screen and (max-width : 768px) {
  #hero-img {
    height: 350px;
    font: 25px "Avenir Next", Arial, sans-serif;
  }
}
  
.stuff {
  display: none;
}


.col-8 {
  padding: 0px;
}


footer {
  padding-top: 1%;
  color: white;
  font-size: 15px;
}


#facts {
  height: 450px;
  background-image: url("../images/trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  color: white;
  font: 40px "Avenir Next", Arial, sans-serif;
}

.left {
  padding-left: 10%;
  color: white;
}

.center {
  justify-content: center;
}

/* contact page  */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  z-index: -1;
  min-height: 75%;
}

.contact-content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.arrow {
  color: black;
  font-size: 30px;
}

.d-block{
  max-height: 450px;
  margin:auto;
  width: 100%;
}

.web {
  max-height: 225px;
  margin:auto;
  display: flex;
  align-content: center;
  z-index: -1;

}
/* 
.overlay {
    background: rgba(0, 0, 0, 0.8);
} */


.col-sm-6 {
  padding: 5%;
}
.col-sm-8 {
  padding: 0%;
}

.center-block{
  padding-top: 50px;
}

.big {
  font-size: 35px;
}


/* gallery */

.description {
  position: relative;
  text-align: center;
  color: white;
}

div.gallery img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "Avenir Next", serif;
}

.responsive {
  padding: 0px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.9999999%;
      margin: 6px 0;
  }
}


@media only screen and (max-width: 500px) {
  .responsize {
      width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding:5%;
}

#mouse-over {
  opacity: 0;
}

#mouse-over:hover {
  opacity: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panels {
  min-height:450px;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url(../images/shopping_website.png); height: 450px;}
.panel2 { background-image:url(../images/portal.png); height: 450px; }


.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}

.panel p:nth-child(2) {
  font-size: 2em;
}

.panel.open {
  font-size: 25px;
  flex: 5;
}

.websites {
  background: black;
  color: white;
  padding: 2%;
}
